.body {box-sizing: border-box;}

.click-here-img{
  width: 150px;
  height: auto;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
}

.popup-overlay{
  display: none;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

/* The popup form - hidden by default */
.form-popup {
  position: fixed;
  /* border: 3px solid #f1f1f1; */
  /* z-index: 9; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
#tipAmount {
  width: 88%;
  padding: 15px;
  margin: 5px 0 1px 0;
  border: none;
  background: #f1f1f1;
}



/* Set a style for the submit/login button */
#sendTip {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
#sendTip:hover{
  opacity: 1;
}

#close {
    position: absolute;
    left: 93%;
    top: 1%;
    
}
#close:hover{
    cursor: pointer;
}

/* Add a red background color to the cancel button */
#connectWallet {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    background-color: rgb(250, 140, 51);
}
#connectWallet:hover{
  opacity: 1;
}
/* Add some hover effects to buttons */
.form-container, .btn:hover, .open-button:hover {
  opacity: 1;
}

#status{
  margin: 1px 0 20px 0;

  /* position:absolute; */
}

